<!-- Partial: Réponse à l'intention DEMANDE_AUTRES_DEPARTEMENTS -->
<!-- Note: Les dates sont affichées dans Section 4 centralisée -->
<b>Dates dans d'autres départements</b><br>
{{#if alternative_department_dates}}
Si vous êtes flexible sur le lieu, plusieurs dates sont disponibles dans d'autres départements (voir ci-dessous).<br>
{{else}}
Nous avons vérifié les disponibilités dans d'autres départements mais il n'y a pas de date plus proche actuellement.<br>
{{/if}}
{{#unless compte_existe}}
<i>Note : Comme vous n'avez pas encore de compte ExamT3P, vous pouvez vous inscrire dans le département de votre choix.</i><br>
{{/unless}}
<br>
