<!-- Partial: Réponse à l'intention DEMANDE_IDENTIFIANTS -->
<b>Vos identifiants ExamT3P</b><br>
<br>
{{#if identifiant_examt3p}}
→ Identifiant : <b>{{identifiant_examt3p}}</b><br>
→ Mot de passe : <b>{{mot_de_passe_examt3p}}</b><br>
<br>
<i>Ces identifiants vous permettent de vous connecter sur <a href="https://www.exament3p.fr">exament3p.fr</a> pour suivre l'avancement de votre dossier.</i><br>
{{else}}
Nous n'avons pas encore vos identifiants ExamT3P dans notre système.<br>
{{#if compte_existe}}
Merci de nous les communiquer pour que nous puissions suivre votre dossier.<br>
{{else}}
Ils seront créés lors de la constitution de votre dossier CMA.<br>
{{/if}}
{{/if}}
<br>
