<!-- Partial: Réponse à l'intention DEMANDE_CHANGEMENT_SESSION -->
<!-- Gère 3 cas: erreur CAB (plainte), dates spécifiques (matching), sans dates (demande préférences) -->

{{#if is_complaint}}
<!-- ================================================================ -->
<!-- CAS PLAINTE: Le candidat signale une erreur d'inscription        -->
<!-- ================================================================ -->
{{#if is_cab_error}}
<!-- ERREUR CAB CONFIRMÉE - Excuses + correction immédiate -->
<b>Concernant votre inscription</b><br>
Nous vous prions de nous excuser pour cette erreur. Vous aviez bien demandé une formation en <b>cours du {{claimed_session_info.type}}</b>{{#if claimed_session_info.dates_raw}} aux dates {{claimed_session_info.dates_raw}}{{/if}}, et nous avons fait une erreur en vous inscrivant en cours du {{assigned_session_info.type}}.<br>
<br>
{{#if corrected_session}}
<b>Correction effectuée :</b><br>
Nous corrigeons immédiatement votre inscription sur la session suivante :<br>
→ <b>{{corrected_session.session_type_label}}</b> : du {{corrected_session.date_debut}} au {{corrected_session.date_fin}}<br>
<br>
<b>Important :</b> Vous recevrez une nouvelle invitation par email avec le lien de connexion à la visioconférence. Merci de ne pas utiliser l'ancien lien.<br>
{{else}}
Nous allons corriger votre inscription dans les plus brefs délais. Un conseiller vous contactera pour confirmer votre nouvelle session.<br>
{{/if}}
{{else}}
<!-- PAS D'ERREUR CAB - La session demandée n'existe pas ou correspond -->
<b>Concernant votre demande</b><br>
{{#if complaint_verification}}
{{complaint_verification}}<br>
<br>
{{/if}}
{{#if has_complaint_alternatives}}
Voici les sessions disponibles qui pourraient vous convenir :<br>
{{#each complaint_alternatives}}
→ <b>{{this.session_type_label}}</b> : du {{this.date_debut}} au {{this.date_fin}}<br>
{{/each}}
<br>
<b>Merci de nous confirmer si l'une de ces sessions vous convient.</b><br>
{{else}}
Pour modifier votre session, merci de nous préciser vos disponibilités et nous vous proposerons les options disponibles.<br>
{{/if}}
{{/if}}
{{else}}
<!-- ================================================================ -->
<!-- CAS STANDARD: Changement volontaire de session                   -->
<!-- ================================================================ -->
<b>Concernant votre demande de changement de session</b><br>
{{#if has_date_range_request}}
<!-- CAS 1: Dates spécifiques demandées - Matching intelligent -->
{{#if is_exact_match}}
Bonne nouvelle ! Une session {{#if session_preference}}{{preference_horaire_text}}{{/if}} correspond exactement à vos dates ({{requested_dates_raw}}) :<br>
{{#each sessions_proposees}}
<b>{{this.session_type_label}}</b> : du {{this.date_debut}} au {{this.date_fin}}<br>
{{/each}}
<br>
<b>Merci de nous confirmer si vous souhaitez réserver cette session.</b><br>
{{else}}
{{#if is_overlap_match}}
Nous n'avons pas de session correspondant exactement à vos dates ({{requested_dates_raw}}), mais voici les sessions qui chevauchent partiellement votre période de disponibilité :<br>
{{#each sessions_proposees}}
<b>{{this.session_type_label}}</b> : du {{this.date_debut}} au {{this.date_fin}}<br>
{{/each}}
<br>
Ces sessions pourraient convenir si vous avez une certaine flexibilité sur vos dates.<br>
<b>Merci de nous confirmer si l'une de ces sessions vous convient.</b><br>
{{else}}
Malheureusement, aucune session {{#if session_preference}}{{preference_horaire_text}}{{/if}} ne correspond à vos dates ({{requested_dates_raw}}).<br>
<br>
<b>Alternatives disponibles :</b><br>
{{#if session_preference}}
{{!-- Si préférence jour/soir exprimée, afficher seulement ce type --}}
{{#if closest_session_before}}
→ Avant vos dates : <b>{{closest_session_before.session_type_label}}</b> du {{closest_session_before.date_debut}} au {{closest_session_before.date_fin}}<br>
{{/if}}
{{#if closest_session_after}}
→ Après vos dates : <b>{{closest_session_after.session_type_label}}</b> du {{closest_session_after.date_debut}} au {{closest_session_after.date_fin}}<br>
{{/if}}
{{else}}
{{!-- Pas de préférence: proposer les deux types (jour ET soir) --}}
{{#if closest_session_before_jour}}
→ <b>{{closest_session_before_jour.session_type_label}}</b> du {{closest_session_before_jour.date_debut}} au {{closest_session_before_jour.date_fin}} (avant vos dates)<br>
{{/if}}
{{#if closest_session_before_soir}}
→ <b>{{closest_session_before_soir.session_type_label}}</b> du {{closest_session_before_soir.date_debut}} au {{closest_session_before_soir.date_fin}} (avant vos dates)<br>
{{/if}}
{{#if closest_session_after_jour}}
→ <b>{{closest_session_after_jour.session_type_label}}</b> du {{closest_session_after_jour.date_debut}} au {{closest_session_after_jour.date_fin}} (après vos dates)<br>
{{/if}}
{{#if closest_session_after_soir}}
→ <b>{{closest_session_after_soir.session_type_label}}</b> du {{closest_session_after_soir.date_debut}} au {{closest_session_after_soir.date_fin}} (après vos dates)<br>
{{/if}}
{{/if}}
{{#unless closest_session_before}}{{#unless closest_session_after}}
Aucune session n'est disponible à proximité de vos dates pour le moment.<br>
{{/unless}}{{/unless}}
<br>
Merci de nous indiquer si l'une de ces alternatives vous convient, ou si vous avez d'autres disponibilités.<br>
{{/if}}
{{/if}}
{{else}}
<!-- CAS 2: Pas de dates spécifiques - Comportement standard -->
{{#if session_choisie}}
{{#unless session_dates_passed}}
Votre session actuelle est : <b>{{session_choisie}}</b>{{#if session_date_debut}} (du {{session_date_debut}} au {{session_date_fin}}){{/if}}.<br>
<br>
{{/unless}}
{{#if has_sessions_proposees}}
Voici les alternatives disponibles :<br>
{{#each sessions_proposees}}
<b>{{this.session_type_label}}</b> : du {{this.date_debut}} au {{this.date_fin}}<br>
{{/each}}
<br>
<b>Merci de nous confirmer si vous souhaitez changer pour l'une de ces sessions.</b><br>
{{else}}
Pour modifier votre session, merci de nous préciser :<br>
<ul>
<li>Vos dates de disponibilité (période souhaitée)</li>
<li>Préférence pour les cours du <b>jour</b> (8h30-17h30) ou du <b>soir</b> (18h-22h)</li>
</ul>
Nous vous proposerons alors les sessions disponibles.<br>
{{/if}}
{{else}}
Vous n'avez pas encore de session de formation assignée.<br>
<br>
Pour choisir votre session, merci de nous indiquer :<br>
<ul>
<li>Vos dates de disponibilité</li>
<li>Préférence pour les cours du <b>jour</b> ou du <b>soir</b></li>
</ul>
{{/if}}
{{/if}}
{{/if}}
