<!-- Partial: Réponse à l'intention DEMANDE_DATE_VISIO -->
<!-- Candidat demande accès à ses 40 heures de formation visio -->
<b>Concernant vos 40 heures de formation en visioconférence</b><br>
{{#if session_assigned}}
Votre session de formation est confirmée :<br>
{{#if session_is_jour}}
&nbsp;&nbsp;→ <b>Cours du jour</b> : du {{session_date_debut}} au {{session_date_fin}} (9h-17h)<br>
{{else}}
&nbsp;&nbsp;→ <b>Cours du soir</b> : du {{session_date_debut}} au {{session_date_fin}} (18h-22h)<br>
{{/if}}
<br>
Vous recevrez le lien d'invitation par email avant le début de la formation.<br>
{{else}}
{{#if has_sessions_proposees}}
<!-- Sessions disponibles - le candidat doit choisir -->
Vos 40 heures de formation se déroulent en visioconférence. Voici les sessions disponibles :<br>
<br>
{{#each sessions_proposees}}
{{#if this.is_first_of_exam}}
Pour l'examen du {{this.date_examen_formatted}} :<br>
{{/if}}
{{#if this.is_jour}}
&nbsp;&nbsp;→ <b>Cours du jour</b> : du {{this.date_debut}} au {{this.date_fin}} (formation intensive sur 1 semaine, 9h-17h)<br>
{{/if}}
{{#if this.is_soir}}
&nbsp;&nbsp;→ <b>Cours du soir</b> : du {{this.date_debut}} au {{this.date_fin}} (formation sur 2 semaines, 18h-22h)<br>
{{/if}}
{{/each}}
<br>
<b>Merci de nous confirmer votre choix de session</b> (jour ou soir). Vous recevrez ensuite le lien d'invitation par email.<br>
{{else}}
<!-- Pas de session disponible - besoin de date d'examen d'abord -->
Pour accéder à vos 40 heures de formation, nous devons d'abord confirmer votre date d'examen.<br>
Les sessions de formation sont planifiées en fonction de la date d'examen choisie.<br>
{{/if}}
{{/if}}
