<!-- Partial: Réponse à l'intention DEMANDE_DATE_PLUS_TOT -->
<!-- Candidat demande une date PLUS TÔT que sa date actuelle -->

{{#if has_earlier_options}}
<!-- Des dates plus tôt sont disponibles dans d'autres départements -->
<b>Concernant votre demande de date plus proche</b><br>
Votre date d'examen actuelle est le <b>{{date_examen}}</b>{{#if cma_departement}} (CMA {{cma_departement}}){{/if}}.<br>
<br>
{{#if cross_department_data.has_same_region_options}}
<b>Dates plus proches dans votre région ({{cross_department_data.current_region}}) :</b><br>
{{#each cross_department_data.same_region_options}}&nbsp;&nbsp;&rarr; <b>{{this.date_examen_formatted}}</b> &mdash; CMA {{this.Departement}} ({{this.comparison_text}}) - cloture le {{this.date_cloture_formatted}}{{#if this.is_urgent}} <span style="color:#c0392b;">cloture proche</span>{{/if}}<br>
{{/each}}<br>
{{/if}}
{{#if cross_department_data.has_other_region_options}}
<b>Dates plus proches dans d'autres régions :</b><br>
{{#each cross_department_data.other_region_options}}&nbsp;&nbsp;&rarr; <b>{{this.date_examen_formatted}}</b> &mdash; CMA {{this.Departement}} ({{this.region}}) ({{this.comparison_text}}) - cloture le {{this.date_cloture_formatted}}<br>
{{/each}}<br>
{{/if}}
{{#if cross_department_data.requires_department_change_process}}
<i>Note : Votre compte ExamT3P étant créé sur la CMA {{cma_departement}}, un changement de département nécessite une demande via l'onglet <b>Messagerie</b> de <a href="https://www.exament3p.fr">exament3p.fr</a>.</i><br>
{{else}}
Merci de nous confirmer si vous souhaitez changer pour l'une de ces dates.<br>
{{/if}}
{{else}}
<!-- Aucune date plus tôt disponible (clôtures passées) -->
<b>Concernant votre demande de date plus proche</b><br>
{{#if requested_month_name}}
Malheureusement, il n'est plus possible de s'inscrire pour <b>{{requested_month_name}}</b>. Les dates de clôture des inscriptions pour ce mois sont déjà passées, y compris dans les autres départements.<br>
{{else}}
Malheureusement, il n'y a pas de date d'examen disponible avant le <b>{{date_examen}}</b>. Les dates de clôture des inscriptions pour les sessions antérieures sont déjà passées.<br>
{{/if}}
<b>Votre inscription reste confirmée pour le {{date_examen}}</b>{{#if cma_departement}} (CMA {{cma_departement}}){{/if}}. C'est actuellement la date la plus proche à laquelle vous pouvez passer l'examen.{{#if date_cloture}} La date de clôture des inscriptions pour cette session est le {{date_cloture}}.{{/if}}<br>
{{/if}}
