<!-- Partial: Reponse a l'intention ERREUR_PAIEMENT_CMA -->
<!-- Candidat Uber 20€ qui a payé les frais CMA lui-même par erreur -->
<b>Concernant le paiement des frais d'examen</b><br>
<br>
Nous avons bien noté que vous avez réglé vous-même les frais d'inscription à l'examen CMA. Dans le cadre de l'offre Uber à 20€, ces frais (241€) sont normalement <b>pris en charge par CAB Formations</b>.<br>
<br>
Vous avez <b>deux options</b> :<br>
<br>
<b>Option 1 : Demander le remboursement à la CMA</b><br>
<ul>
<li>Contactez directement la CMA pour demander le remboursement sur votre carte bancaire</li>
<li>Une fois remboursé, votre dossier repassera en statut "Prêt à payer"</li>
<li>Nous pourrons alors procéder au paiement pour vous</li>
</ul>
<i>⚠️ Attention : les délais de remboursement de la CMA peuvent être longs (plusieurs semaines). Si votre date d'examen est proche, cette option risque de vous faire perdre votre place.</i><br>
<br>
<b>Option 2 : Conserver votre paiement (recommandé si date proche)</b><br>
<ul>
<li>Votre inscription à l'examen est déjà validée et sécurisée</li>
<li>Vous bénéficiez toujours des autres avantages de l'offre Uber : formation en visio, accès e-learning, accompagnement</li>
<li>Pas de risque de perdre votre date d'examen</li>
</ul>
<br>
<b>Merci de nous indiquer quelle option vous préférez</b> afin que nous puissions adapter la suite de votre accompagnement.<br>
<br>
