<!-- Partial: Reponse intention PERMIS_PROBATOIRE -->
<!-- Note: Les dates sont affichées dans Section 4 centralisée -->
{{#if probation_completed}}
<!-- Candidat a atteint 3 ans de permis - prêt à s'inscrire -->
<b>Votre permis probatoire</b><br>
Félicitations ! Vous avez terminé votre période probatoire et pouvez désormais vous inscrire à l'examen VTC.<br>
<br>
{{else}}
<b>Concernant votre période probatoire</b><br>
Pour passer l'examen VTC, vous devez avoir terminé votre période de probation de permis de conduire (3 ans, ou 2 ans si conduite accompagnée).<br>
<br>
<b>Règle importante :</b> Vous pouvez vous inscrire à un examen dont la <b>date de clôture des inscriptions</b> est postérieure à la fin de votre période probatoire.<br>
<br>
<b>Merci de nous préciser la date de fin de votre période probatoire</b> (indiquée sur votre permis de conduire) afin que nous puissions vous confirmer les dates d'examen accessibles pour vous.<br>
<br>
{{/if}}
