<!-- Partial: Réponse à l'intention PERMIS_RENOUVELLEMENT -->
<!-- Gère les questions sur permis en cours de renouvellement, abîmé, volé ou perdu -->
<b>Concernant votre permis de conduire</b><br>
Bonne nouvelle ! Vous pouvez tout à fait finaliser votre inscription sans attendre votre nouveau permis.<br>
Voici comment procéder :<br>
1. Complétez votre dossier avec votre <b>ancien permis</b> (même abîmé, recto-verso)<br>
2. Une fois votre dossier envoyé, répondez à ce mail en nous transmettant le <b>récépissé de demande</b> que vous avez reçu de l'ANTS<br>
Avec ces deux documents (ancien permis + récépissé ANTS), nous pourrons procéder à votre inscription à l'examen sans attendre la réception de votre nouveau permis.<br>
