<!-- Partial: Réponse à l'intention DOCUMENT_QUESTION / SIGNALE_PROBLEME_DOCS -->
<b>Concernant vos documents</b><br>
<br>
{{#if evalbox_refus_cma}}
Certaines pièces ont été refusées. Connectez-vous sur ExamT3P pour voir les motifs de refus et corriger.<br>
{{else}}
Pour télécharger vos documents, connectez-vous sur <a href="https://www.exament3p.fr">exament3p.fr</a>.<br>
<br>
<b>Documents requis :</b><br>
&nbsp;&nbsp;→ Pièce d'identité (recto/verso)<br>
&nbsp;&nbsp;→ Justificatif de domicile de moins de 3 mois<br>
&nbsp;&nbsp;→ Photo d'identité<br>
&nbsp;&nbsp;→ Signature (image sur fond blanc)<br>
&nbsp;&nbsp;→ Permis de conduire<br>
{{/if}}
<br>
