<!-- Partial: Réponse à l'intention QUESTION_PROCESSUS -->
<b>Le processus d'inscription</b><br>
Voici les grandes étapes :<br>
<ol>
<li><b>Choix de la date d'examen</b> - Vous choisissez parmi les dates disponibles</li>
<li><b>Choix de la session de formation</b> - Cours du jour ou du soir selon vos disponibilités</li>
<li><b>Constitution du dossier</b> - Nous préparons votre dossier pour la CMA</li>
<li><b>Paiement des frais d'examen</b> - 241€ à régler directement à la CMA</li>
<li><b>Validation CMA</b> - La CMA vérifie votre dossier</li>
<li><b>Convocation</b> - Vous recevez votre convocation environ 10 jours avant l'examen</li>
<li><b>Formation</b> - Suivez votre formation pour bien vous préparer</li>
<li><b>Examen</b> - Passez l'examen théorique VTC</li>
</ol>
