<!-- Partial: Réponse à une QUESTION_UBER (offre 20€, éligibilité, etc.) -->
<b>Concernant l'offre Uber</b><br>
<br>
{{#if is_uber_20_deal}}
Vous êtes bien inscrit via l'offre Uber à 20€.<br>
{{#if uber_eligible}}
Votre éligibilité a été confirmée par Uber.<br>
{{/if}}
{{#if uber_verif_en_cours}}
Votre éligibilité est en cours de vérification. Nous vous tiendrons informé dès que nous aurons une réponse d'Uber.<br>
{{/if}}
{{else}}
Vous n'êtes pas inscrit via l'offre Uber à 20€. Si vous pensez que c'est une erreur, veuillez nous contacter avec votre email Uber Driver.<br>
{{/if}}
<br>
