<b>Concernant vos identifiants</b><br>
<br>
Nous comprenons votre preoccupation concernant la securite de vos donnees. Vos identifiants ExamT3P sont necessaires uniquement pour verifier l'etat de votre dossier aupres de la CMA et vous fournir un suivi precis.<br>
<br>
Ces informations sont traitees de maniere confidentielle et ne sont jamais partagees avec des tiers. Si vous preferez, vous pouvez verifier vous-meme l'etat de votre dossier sur <a href="https://www.interieur.gouv.fr/Sites-Ext/EXAMT3P">ExamT3P</a>.<br>
<br>
N'hesitez pas a nous recontacter si vous avez des questions sur notre politique de confidentialite.<br>
<br>
