<!-- Partial: Réponse à l'intention RESULTAT_EXAMEN -->
<b>Concernant votre résultat d'examen</b><br>
<br>
{{#if resultat_global}}
Votre résultat : <b>{{resultat_global}}</b><br>
{{/if}}
{{#if note_bilan}}
Note obtenue : {{note_bilan}}/20<br>
{{/if}}
{{#if attente_resultat}}
Les résultats sont généralement disponibles sous 48 à 72 heures après l'examen.<br>
Vous recevrez une notification par email dès que votre résultat sera publié.<br>
{{/if}}
{{#if examen_pas_encore}}
Votre examen n'a pas encore eu lieu. Les résultats seront disponibles après votre passage.<br>
{{/if}}
<br>
