<!-- Partial: Warning compte personnel détecté (A4) -->
<br>
<b>Information importante concernant votre compte ExamT3P</b><br>
<br>
Nous avons détecté que vous possédez un autre compte ExamT3P ({{personal_account_email}}).<br>
<br>
<b>Merci d'utiliser uniquement le compte CAB Formations :</b><br>
{{#if cab_account_email}}
<ul>
<li>Identifiant : <b>{{cab_account_email}}</b></li>
</ul>
{{/if}}
<br>
Le paiement des frais d'examen a été effectué sur ce compte. Votre ancien compte personnel n'est pas lié à votre inscription via CAB Formations.<br>
<br>
<i>Si vous vous connectez à votre ancien compte, vous verrez un statut "non payé" - c'est normal, ignorez-le.</i><br>
