<!-- Partial: Warning compte personnel détecté (A4) -->
<br>
<b>Information importante concernant votre compte ExamT3P</b><br>
<br>
Nous avons détecté que vous avez créé un compte personnel sur ExamT3P ({{personal_account_email}}).<br>
<br>
<b>Pas d'inquiétude !</b> Pour accélérer le traitement de votre dossier, nous avons créé un compte CAB Formations à votre nom et <b>déjà réglé les frais d'inscription à l'examen{{#if cab_payment_date}} le {{cab_payment_date}}{{/if}}</b>.<br>
<br>
<b>Merci d'utiliser uniquement ce compte CAB Formations</b> (identifiants fournis ci-dessus). Votre compte personnel n'est pas lié à votre inscription via notre centre et le paiement n'y a pas été effectué.<br>
<br>
<i>Si vous vous connectez à votre ancien compte ({{personal_account_email}}), vous verrez un statut "non payé" - c'est normal, ignorez-le.</i><br>
