{{> salutation_personnalisee}}
{{#if identifiant_examt3p}}
<b>Problème de connexion à ExamT3P</b><br>
Nous avons bien vos identifiants enregistrés. Voici un rappel :<br>
{{> identifiants_examt3p}}
<br>
Le site officiel pour accéder à votre espace est : <a href="https://www.exament3p.fr">www.exament3p.fr</a><br>
<br>
<b>En cas de problème de connexion :</b>
<ul>
<li>Vérifiez que vous utilisez bien l'adresse <b>www.exament3p.fr</b> (et non un autre site)</li>
<li>Copiez-collez l'identifiant et le mot de passe (évitez de les taper manuellement)</li>
<li>Essayez en navigation privée ou sur un autre navigateur</li>
<li>Vérifiez que le verrouillage majuscules n'est pas activé</li>
</ul>
Si le problème persiste après avoir essayé ces solutions, merci de nous le signaler.<br>
{{else}}
<b>Création de votre compte ExamT3P</b><br>
Nous allons créer votre compte sur la plateforme ExamT3P. Pour cela, nous avons besoin que vous nous transmettiez vos identifiants de connexion.<br>
<br>
<b>Pour retrouver vos identifiants :</b><br>
<ol>
<li>Recherchez dans votre boîte mail un email de <b>noreply@intras.fr</b></li>
<li>L'objet contient généralement "Création de compte" ou "Vos identifiants"</li>
<li>L'email contient votre <b>identifiant</b> (souvent votre adresse email) et votre <b>mot de passe</b></li>
</ol>
{{> verifier_spams}}
<br>
Une fois retrouvés, merci de nous les transmettre par retour d'email.<br>
{{/if}}
{{> signature}}
