{{> salutation_personnalisee}}
{{> identifiants_examt3p}}
Le site officiel pour accéder à votre espace est : <a href="https://www.exament3p.fr">www.exament3p.fr</a><br><b>En cas de problème de connexion :</b>
<ul>
<li>Vérifiez que vous utilisez bien l'adresse <b>www.exament3p.fr</b> (et non un autre site)</li>
<li>Copiez-collez l'identifiant et le mot de passe (évitez de les taper manuellement)</li>
<li>Essayez en navigation privée ou sur un autre navigateur</li>
<li>Vérifiez que le verrouillage majuscules n'est pas activé</li>
</ul>
{{> verifier_spams}}
{{> signature}}
