{{> salutation_personnalisee}}
<b>Documents en attente</b><br>
Des documents sont en attente de validation pour votre dossier.<br>
<br>
Vous pouvez les telecharger sur votre espace ExamT3P : <a href="https://www.exament3p.fr">www.exament3p.fr</a><br>
<br>
{{#if identifiant_examt3p}}
<b>Vos identifiants :</b><br>
Identifiant : {{identifiant_examt3p}}<br>
Mot de passe : {{mot_de_passe_examt3p}}<br>
<i>⚠️ <b>Important :</b> Ne modifiez pas votre identifiant ni votre mot de passe, sinon nous ne pourrons plus assurer le suivi de votre dossier.</i><br>
<br>
{{/if}}
{{> signature}}
