{{> salutation_personnalisee}}
<b>Finalisation requise</b><br>
Pour pouvoir choisir une date d'examen, vous devez d'abord finaliser votre inscription.<br>
<br>
<b>Etapes a completer :</b><br>
1. Passer le test de selection : <a href="https://cab-formations.fr/user/login?destination=/course/test-de-s%C3%A9lection">Acceder au test</a><br>
2. Completer votre dossier sur ExamT3P<br>
<br>
Une fois ces etapes terminees, nous pourrons vous proposer les dates d'examen disponibles.<br>
<br>
{{> signature}}
