<!-- Partial: Rappel inscription pour prospects -->
<br>
<b style="color: #d35400;">Rappel : Finalisez votre inscription</b><br>
Votre inscription n'est pas encore finalisee. Pour beneficier de l'offre Uber a 20EUR et acceder a tous nos services, veuillez completer votre paiement sur <a href="https://cab-formations.fr/uberxcab_welcome">notre page d'inscription</a>.<br>
<br>
Une fois le paiement effectue, vous recevrez :<br>
- Vos acces a la formation e-learning<br>
- La creation de votre compte ExamT3P pour l'inscription a l'examen<br>
<br>
