<!-- Partial: Question sur justificatif de domicile - hébergement -->
<b>Concernant votre justificatif de domicile</b><br>
<br>
Si vous êtes hébergé(e), voici les options possibles :<br>
<br>
<b>Option 1 : Facture de téléphone mobile à votre nom (recommandé)</b><br>
Si vous avez une facture de téléphone mobile (moins de 3 mois) à votre nom mentionnant l'adresse d'hébergement, cela suffit. Pas besoin d'attestation d'hébergement.<br>
<br>
<b>Option 2 : Attestation d'hébergement</b><br>
Si vous n'avez pas de facture à votre nom, fournissez :<br>
<ul>
<li><b>Attestation d'hébergement</b> datée et signée par l'hébergeur (moins de 3 mois)</li>
<li><b>Pièce d'identité de l'hébergeur</b> (recto-verso)</li>
<li><b>Justificatif de domicile de l'hébergeur</b> (facture EDF, eau, etc. de moins de 3 mois)</li>
</ul>
<br>
<i>L'attestation doit mentionner que l'hébergeur vous héberge à titre gratuit à son domicile, avec l'adresse complète.</i><br>
<br>
