<!-- Partial: Question sur permis de conduire étranger -->
<b>Concernant votre permis de conduire</b><br>
<br>
Pour s'inscrire à l'examen VTC, seuls les permis suivants sont acceptés :<br>
<ul>
<li><b>Permis français</b></li>
<li><b>Permis européen</b> (pays de la zone Euro)</li>
</ul>
<br>
<b>Si vous avez un permis hors zone Euro :</b><br>
Vous devez effectuer une <b>demande d'échange de permis</b> auprès de la préfecture pour obtenir un permis français.<br>
<br>
<i>→ Délai moyen : plusieurs mois selon les préfectures<br>
→ Nous vous conseillons d'attendre la réception de votre permis français avant de nous transmettre votre dossier<br>
→ Une fois votre permis français obtenu, vous pourrez vous inscrire à la formation VTC</i><br>
<br>
