<!-- Partial: Identifiants ExamT3P - Inclus systematiquement quand contact CMA requis -->
<b>Vos identifiants ExamT3P</b><br>
{{#if identifiant_examt3p}}
&rarr; Identifiant : <b>{{identifiant_examt3p}}</b><br>
&rarr; Mot de passe : <b>{{mot_de_passe_examt3p}}</b><br>
<i>Ces identifiants sont strictement personnels et confidentiels.</i><br>
<i>⚠️ <b>Important :</b> Ne modifiez pas votre identifiant ni votre mot de passe, sinon nous ne pourrons plus assurer le suivi de votre dossier{{#if evalbox_non_paye}} ni effectuer le paiement des frais d'inscription pour vous{{/if}}.</i><br>
{{else}}
<i>Nous n'avons pas vos identifiants dans notre systeme. Merci de nous les communiquer si vous en disposez.</i><br>
{{/if}}
<br>
