<!-- Partial: UBER CAS E - Non éligible -->
<b>Éligibilité à l'offre Uber</b><br>
<br>
Nous avons vérifié votre dossier auprès d'Uber et malheureusement, votre profil n'est pas éligible à l'offre VTC en partenariat avec Uber.<br>
<br>
<b>Ce que cela signifie :</b><br>
Uber applique ses propres critères d'éligibilité pour cette offre. Nous n'avons pas de visibilité sur les raisons de cette décision.<br>
<br>
<b>Ce que vous devez faire :</b><br>
Contactez le support Uber pour comprendre pourquoi :<br>
<ul>
<li>Connectez-vous à l'application Uber Driver</li>
<li>Allez dans Compte → Aide</li>
<li>Utilisez le chat intégré</li>
</ul>
<br>
<b>Alternatives possibles :</b><br>
Si Uber confirme que vous n'êtes pas éligible, vous pouvez vous inscrire à notre formation VTC classique. Contactez-nous pour plus d'informations.<br>
<br>
