<!-- Partial: UBER CAS B - Test de sélection non passé -->
<b>Il vous reste une étape : le test de sélection</b><br>
<br>
Nous avons bien reçu votre dossier. Pour finaliser votre inscription à l'examen VTC, vous devez passer le test de sélection.<br>
<br>
<b>À propos du test :</b><br>
<ul>
<li>Durée : environ 10 minutes</li>
<li>Aucune révision préalable nécessaire</li>
<li>Vous pouvez le passer immédiatement</li>
</ul>
<br>
<b>Accéder au test :</b><br>
<a href="https://cab-formations.fr/user/login?destination=/course/test-de-s%C3%A9lection">Passer le test de sélection</a><br>
<br>
Utilisez vos identifiants e-learning :<br>
→ Identifiant : {{email}}<br>
→ Mot de passe : celui choisi lors de votre inscription<br>
<br>
<b>Pourquoi ce test ?</b><br>
Ce test nous permet de déclencher votre inscription auprès de la CMA. Sans lui, nous ne pouvons pas vous inscrire à une session d'examen.<br>
<br>
