{{> salutation_personnalisee}}
{{#if session_preference}}
<b>Votre preference a bien ete notee</b><br>
Vous souhaitez suivre la formation <b>{{#if session_preference_soir}}du soir{{else}}du jour{{/if}}</b>.<br>
<br>
{{/if}}
{{#if sessions_proposees}}
<b>Voici les sessions correspondant a votre choix :</b><br>
<br>
{{#each sessions_proposees}}
{{#if this.is_soir}}🌙{{else}}☀️{{/if}} <b>{{this.nom}}</b><br>
&nbsp;&nbsp;&nbsp;&nbsp;Formation du <b>{{this.debut}}</b> au <b>{{this.fin}}</b><br>
&nbsp;&nbsp;&nbsp;&nbsp;Pour l'examen du <b>{{this.date_examen}}</b> (dept {{this.departement}})<br>
{{#if this.cloture}}&nbsp;&nbsp;&nbsp;&nbsp;Cloture inscriptions : {{this.cloture}}<br>{{/if}}
<br>
{{/each}}
Merci de nous confirmer la session qui vous convient pour que nous puissions finaliser votre inscription.<br>
{{else}}
Nous vous contacterons prochainement pour vous proposer les sessions correspondantes.<br>
{{/if}}
<br>
{{> acces_elearning_rappel}}
{{> verifier_spams}}
{{> signature}}
