{{> salutation_personnalisee}}
<b>Nous comprenons votre preoccupation</b><br>
Nous respectons votre souhait de ne pas partager vos identifiants ExamT3P.<br>
<br>
Sachez que nous utilisons ces informations uniquement pour suivre l'avancement de votre dossier et vous accompagner efficacement.<br>
<br>
Vous pouvez gerer votre dossier en autonomie sur : <a href="https://www.exament3p.fr">www.exament3p.fr</a><br>
<br>
N'hesitez pas a revenir vers nous si vous avez des questions.<br>
<br>
{{> signature}}
