{{> salutation_personnalisee}}
<b>Felicitations pour votre reussite !</b><br>
Vous avez reussi votre examen VTC, toutes nos felicitations !<br>
<br>
<b>Prochaine etape : obtenir votre carte VTC</b><br>
Pour obtenir votre carte professionnelle VTC, vous devez :<br>
1. Vous rendre en prefecture avec votre attestation de reussite<br>
2. Fournir les documents requis (justificatif de domicile, photo d'identite, etc.)<br>
<br>
Le delai d'obtention est generalement de 2 a 4 semaines.<br>
<br>
{{> signature}}
