<!-- Partial: CREDENTIALS INVALID - Problème de connexion -->
<b>Connexion à ExamT3P</b><br>
<br>
{{#if identifiant_examt3p}}
{{#if connection_test_success}}
<b>✅ Nous avons testé vos identifiants et la connexion fonctionne.</b><br>
<br>
Vos identifiants de connexion :<br>
→ Identifiant : <b>{{identifiant_examt3p}}</b><br>
→ Mot de passe : <b>{{mot_de_passe_examt3p}}</b><br>
<br>
Le site officiel : <a href="https://www.exament3p.fr">www.exament3p.fr</a><br>
<br>
<i>⚠️ <b>Important :</b> Ne modifiez pas votre identifiant ni votre mot de passe, sinon nous ne pourrons plus assurer le suivi de votre dossier{{#if evalbox_non_paye}} ni effectuer le paiement des frais d'inscription pour vous{{/if}}.</i><br>
{{else}}
{{#if credentials_login_failed}}
<b style="color: #c0392b;">⚠️ Problème d'accès à votre compte ExamT3P</b><br>
<br>
Nous ne parvenons plus à nous connecter à votre espace ExamT3P avec les identifiants que nous avons enregistrés. Il semble que le mot de passe ait été modifié.<br>
<br>
<b>Pour que nous puissions à nouveau suivre votre dossier, merci de :</b><br>
<ol>
<li><b>Nous transmettre vos nouveaux identifiants</b> (email + mot de passe actuel)</li>
<li>Ou, si vous ne vous en souvenez plus : cliquez sur <b>"Mot de passe oublié"</b> sur <a href="https://www.exament3p.fr">exament3p.fr</a> pour le réinitialiser, puis transmettez-nous le nouveau mot de passe</li>
</ol>
<br>
<i>⚠️ <b>Important :</b> Sans ces identifiants, nous ne pouvons pas assurer le suivi de votre dossier{{#if evalbox_non_paye}} ni effectuer le paiement des frais d'inscription pour vous{{/if}}.</i><br>
{{else}}
Vos identifiants de connexion :<br>
→ Identifiant : <b>{{identifiant_examt3p}}</b><br>
→ Mot de passe : <b>{{mot_de_passe_examt3p}}</b><br>
<br>
Le site officiel : <a href="https://www.exament3p.fr">www.exament3p.fr</a><br>
<br>
<i>⚠️ <b>Important :</b> Ne modifiez pas votre identifiant ni votre mot de passe, sinon nous ne pourrons plus assurer le suivi de votre dossier{{#if evalbox_non_paye}} ni effectuer le paiement des frais d'inscription pour vous{{/if}}.</i><br>
<br>
<b>En cas de problème :</b>
<ul>
<li>Vérifiez l'adresse du site (www.exament3p.fr)</li>
<li>Copiez-collez l'identifiant et le mot de passe (attention aux espaces)</li>
<li>Essayez en navigation privée</li>
<li>Vérifiez le verrouillage majuscules</li>
</ul>
{{/if}}
{{/if}}
{{else}}
Nous n'avons pas vos identifiants ExamT3P dans notre système.<br>
<br>
<b>Pour les retrouver :</b><br>
<ol>
<li>Recherchez un email de <b>noreply@intras.fr</b></li>
<li>L'objet contient "Création de compte" ou "Vos identifiants"</li>
</ol>
<br>
Pensez à vérifier vos spams. Une fois retrouvés, merci de nous les transmettre.<br>
{{/if}}
<br>
