<!-- Partial: CREDENTIALS INVALID - Problème de connexion -->
<b>Problème de connexion à ExamT3P</b><br>
<br>
{{#if identifiant_examt3p}}
Nous avons bien vos identifiants enregistrés :<br>
→ Identifiant : <b>{{identifiant_examt3p}}</b><br>
→ Mot de passe : <b>{{mot_de_passe_examt3p}}</b><br>
<br>
Le site officiel : <a href="https://www.exament3p.fr">www.exament3p.fr</a><br>
<br>
<b>En cas de problème :</b>
<ul>
<li>Vérifiez l'adresse du site (www.exament3p.fr)</li>
<li>Copiez-collez l'identifiant et le mot de passe</li>
<li>Essayez en navigation privée</li>
<li>Vérifiez le verrouillage majuscules</li>
</ul>
{{else}}
Nous n'avons pas vos identifiants ExamT3P dans notre système.<br>
<br>
<b>Pour les retrouver :</b><br>
<ol>
<li>Recherchez un email de <b>noreply@intras.fr</b></li>
<li>L'objet contient "Création de compte" ou "Vos identifiants"</li>
</ol>
<br>
Pensez à vérifier vos spams. Une fois retrouvés, merci de nous les transmettre.<br>
{{/if}}
<br>
