<!-- Partial: RESULTAT ADMIS -->
<b>Félicitations pour votre réussite !</b><br>
<br>
Nous avons le plaisir de vous confirmer que vous avez réussi votre examen VTC. Toutes nos félicitations !<br>
<br>
<b>Prochaines étapes pour obtenir votre carte VTC :</b><br>
<ol>
<li>Téléchargez votre attestation de réussite sur <a href="https://www.exament3p.fr">ExamT3P</a></li>
<li>Constituez votre dossier de demande de carte VTC auprès de la préfecture</li>
<li>Passez la visite médicale obligatoire</li>
</ol>
<br>
La carte VTC vous sera délivrée sous quelques semaines après dépôt de votre dossier complet.<br>
<br>
Nous vous souhaitons une excellente carrière en tant que chauffeur VTC !<br>
<br>
